# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
*.env

# Dependency directories
.pnp/
.pnp.js

# Optional eslint cache
.eslintcache

# Optional vim artifacts
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db

# Editor-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
